<md-content id="search" class="md-inline-form">
    <md-input-container id="cardSearch">
        <input type="text" ng-model="card.name" placeholder="Search by card name...">
    </md-input-container>
    <md-button class="md-primary" ng-click="searchByName(card.name)">Search</md-button>
</md-content>
<md-content id="searchResults">
    <md-card md-theme ng-repeat="card in cardResults" class="mtgCard">
        <md-card-title>
            <md-card-title-text>
                <div layout-align="space-between center" layout="row">
                    <span class="md-headline">{{card.name}}</span>
                    <div>
                        <md-input-container>
                            <label>Quantity</label>
                            <input ng-model="card.quantity" type="number" step="1">
                        </md-input-container>
                        <span class="md-subhead"> In Deck</span>
                    </div>
                </div>
                <span class="md-subhead">Type: {{card.type}}</span>
                <span class="md-subhead">Set: {{card.setName}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div flex="20" class="md-media-lg card-media">
                <img src="{{card.imageUrl}}">
            </div>
            <p flex>{{card.text}}</p>
        </md-card-content>
        <md-card-actions id="actionButtons" layout="row" layout-align="end center">
            <md-button class="md-raised md-warn">Remove All</md-button>
            <md-button class="md-raised md-primary">Add {{card.quantity}} Cards</md-button>
        </md-card-actions>
    </md-card>
</md-content>